

.MonBgVideo {
    position: relative;
    background-color: black;
    height: 60vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.MonBgVideo .video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform : translateX(-50%) translateY(-50%);
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

source {
    min-width: 100%;
    min-height: 50%;
}

.MonBgVideo .overlay {
    min-height: 60vh;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.MonBgVideo .caption {
    top: 30%;
}

