 /* TestCSS.css
 Programmé par Franck Gallard
 le 21 Novembre 2019 */

/* ------- General ------- */
/* ----------------------- */
body {
     width: 900px;
     margin: auto;
     background: url('../img/bg-img.jpg') no-repeat center;
     background-size: cover;
}

h1, h2 {
    text-align:center;
    color: crimson;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 14px;
    text-align: justify;
}

a {
    color: #6584da;
    text-decoration: none;
}

a:hover {
 text-decoration: underline;

}

a:visited {
    color: #112a6f;
}

#etudes, #loisirs, #sports {
     color: indigo;
     font-size: 20px;
}

img {
     width: 300px;
     border-radius: 20px;
}

img:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

table {
    border-collapse: collapse;
    color: purple;
    text-align: center;
}

table, th, td {
     border: 1px solid red;
     padding: 10px;
}

/* ------ Plus spécifique ------ */
/* ----------------------------- */

.buttons a.button:nth-child(2) {
    background-color: darkred;
    color: #fff;
}

a.button {
    padding: 10px;
    background-color: #008544;
    color: #fff;
    text-decoration: none;
}


/* ---------------- PAGE INDEX ---------------- */
/* -------------------------------------------- */

.mainHeading {
    width: 600px;
    margin: 0 auto;
}

a#myPhoto img {
    width: 500px;
    border-radius: 100%;
}

a#myPhoto, h1 {
    width: 600px;
    text-align: center;
    font-style:italic;
    display: block;
}

/* ----- navigation ----- */
/* ---------------------- */
#mainNav ul {
     list-style: none;
     display: flex;
     justify-content: center;
}

#mainNav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

#mainNav ul li a.active {
     font-weight: bold;
     color: green;
}

#mainNav ul li a:hover {
     color: green;
}

#mainNav ul li a:visited {
     color: yellow;
}

#mainNav ul li:not(:last-child) {
    margin-right: 20px;
}

table#tableau1 {
    width: 800px;
    border-collapse: collapse;
}

table#tableau1 th, td {
    padding: 10px;
}

/* ---------------- PAGE ÉTUDES ---------------- */
/* --------------------------------------------- */
.hauteur {
    height: 800px;
}

#etudes li {
    list-style: none;
}


/* ---------------- PAGE LOISIRS ---------------- */
/* ---------------------------------------------- */
ol#loisirs {
    font-size: 1.5rem;
}




