/* MAIN STYLE CSS */

/* General */

@font-face {
    font-family: 'Pokemon Hollow';
    src: url('../font/Pokemon Hollow.ttf');
}

.belleImage {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.belleImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.titleH1 {
    color: red;
    font-size: 3rem;
    font-family: 'Pokemon Hollow', sans-serif;
}

.h2Special {
    color: cyan;
    font-size: 3.5rem;
    font-family: 'Bowlby One SC', cursive;
}

#home {
    background-color: #008544;
}

#etudes {
    background-color: rebeccapurple;
}

#loisirs {
    background-color: #112a6f;
}

#sports {
    background-color: coral;
}






