/* MAIN STYLE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========== BACKGROUND =========== */

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #d5d5cb, #e3e0cf);
    z-index: -1;
}


/* ============= HEADER ============= */

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 12vh;
    color: #fff;
    align-items: center;
}

#logo {
    font-family: 'gayathri';
    color: rbg(95,95,95);
    grid-column: 2 / 3;
    font-size: 24px;
}

.icon {
    cursor: pointer;
    justify-self: end;
    width: 40px;
}


/* ============= IMAGE ET TITRE ============= */

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* background: blue; */
}

.banniere {
    height: 100%;
    width: 100%;
    position: relative;
}

.banniere img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lettres {
    margin: 0;
    padding: 0;
    letter-spacing: -25px;
}

.titre {
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 100px;
    transform: translate(-28%, -70%);
    color: #f1f1f1;
    z-index: 3;
}

.banniere::after {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}


/* ============ MENU RIDEAU ============ */

.overlay {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 10;
    right: -300px;
    top: 0;
    background: #000;
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    font-family: 'gayathri';
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closeBtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}