/* MAIN STYLE CSS */

/* ------- General ------- */
/* ----------------------- */

h1.title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.section {
    width: 100%;
    padding: 50px 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

#etudes, #sports {
    background-color: #ddd;
}

footer {
    background-color: #333;
}

.hauteur {
    height: 700px
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid #000;
    padding: 10px;
}

a.button {
    padding: 10px;
    background-color: #008544;
    color: #fff;
    text-decoration: none;
    float: right;
}


/* ------------------- HOME ------------------- */
/* -------------------------------------------- */

#home {
    width: 100%;
    text-align: center;
}

a#myPhoto img {
    width: 500px;
    border-radius: 100%;
    text-align: center;
}

#home h1 {
    font-size: 2.3rem;
    font-style:italic;
}


/* ----- navigation ----- */
/* ---------------------- */
#mainNav ul {
     list-style: none;
     display: flex;
     justify-content: center;
}

#mainNav ul li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #000;
}

#mainNav ul li:not(:last-child) {
    margin-right: 20px;
}

table#tableau1 {
    width: 800px;
    border-collapse: collapse;
}

#tableau1 th, td {
    border: 1px solid #000;
    padding: 10px;
}

/* ---------------- PAGE ÉTUDES ---------------- */
/* --------------------------------------------- */

.container img {
    width: 400px;
    margin-left: 20px;
}


/* ------------------ LOISIRS ------------------ */
/* --------------------------------------------- */
ol#loisirs {
    font-size: 1.5rem;
}




